<section class="about-us">

    <div class="about-container">
        <div class="info">
            <h2>Diegoflow Films</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quasi optio laborum! Iusto dolor accusantium unde quis, fuga deleniti asperiores optio mollitia nisi id eum quaerat explicabo harum ab in illum saepe sunt itaque laudantium
                ut magni sapiente necessitatibus maxime fugit! Reprehenderit omnis, consequuntur minus vero qui nobis deleniti ad.</p>
            <button>Felicidades</button>
        </div>
        <div class="picture">
            <img src="./assets/img/popcorn.jpg" alt="">
        </div>
    </div>


</section>