<header class="header">
    <nav class="nav">
        <img src="assets/img/crispetas.png" alt="">
        <ul class="nav-menu">
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Series</a>
            </li>
            <li>
                <a href="">Peliculas</a>
            </li>
            <li>
                <a href="">Criticas</a>
            </li>
            <li>
                <a href="">Nosotros</a>
            </li>
        </ul>
        <div class="search-container">
            <input type="text" placeholder="Buscador..">
            <span></span>
        </div>
    </nav>
</header>