<header class="header">
    <nav class="nav">
        <figure class="logo-container">
            <img src="assets/img/popcornwhite.png" w alt="">
        </figure>
        <ul class="nav-menu">
            <li>
                <a routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li>
                <a routerLink="/movies" routerLinkActive="active">Peliculas</a>
            </li>
            <li>
                <a routerLink="/about" routerLinkActive="active">Nosotros</a>
            </li>
        </ul>
        <div class="search-container">
            <input type="text" placeholder="Buscador...">
            <span></span>
        </div>
        <div class="login-user">
            <button class="button-create-account">Crear cuenta</button>
            <button class="button-login-user">Iniciar sesion</button>
        </div>
    </nav>
</header>