<div class="movie-card">
    <div class="card-poster">
        <img [src]="movie.imgURL" [alt]="movie.name">
        <div class="card-overlay">
            <h2 class="title"> {{movie.name}} </h2>
            <p class="description"> {{movie.description}} </p>
            <p class="gener"> {{movie.genre}} </p>
        </div>
    </div>
    <!-- <button type="button" class="btn-card" (click)="watchMovie(movie.id)">Ver más</button> -->
    <button type="button" class="btn-card" (click)="watchMovie()">Ver más</button>
</div>