<section class="movies-container">

    <div class="movie-card" *ngFor="let movie of moviesList">
        <div class="card-poster">
            <img [src]="movie.imgURL" alt="">
            <div class="card-overlay">
                <h2 class="title">Title</h2>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat exercitationem doloremque repudiandae recusandae eos perspiciatis odio similique incidunt rerum quae!</p>
                <p class="gener">Accion</p>
            </div>
        </div>
        <button class="btn-card">Ver más.</button>
    </div>

</section>